# =========================
# SEGURANÇA E AMBIENTE
# =========================
.env
.env.*
*.pem

# =========================
# BACKEND (Python)
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
env/
*.db


# =========================
# FRONTEND (React / Node)
# =========================
node_modules/
dist/
build/
.npm/

# =========================
# LOGS
# =========================
logs/
*.log
npm-debug.log*

# =========================
# SISTEMA E IDE
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db