# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Environment =====
.env
venv/
.venv/

# ===== Logs =====
logs/
*.log

# ===== OS / Editor =====
.DS_Store
Thumbs.db

# ===== VS Code (opcional) =====
.vscode/
